﻿@section Scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="row">
  <div class="col-sm-4">
    <form data-bind="submit: callApi">
      <h3>Invoke API</h3>
      <div class="form-group">
        <label>User</label>
        <input class="form-control" type="text" readonly data-bind="value: user" />
      </div>
      <div class="form-group">
        <label>Result</label>
        <input class="form-control" type="text" readonly data-bind="value: result" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Call API</button>
      </div>
    </form>
  </div>

  <div class="col-sm-4">
    <form data-bind="submit: register">
      <h3>Register</h3>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" data-bind="value: registerEmail"/>
      </div>
      <div class="form-group">
        <label>First name</label>
        <input class="form-control" type="text" data-bind="value: registerFirstName"/>
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input class="form-control" type="text" data-bind="value: registerLastName"/>
      </div>
      <div class="form-group">
        <label>Phone number</label>
        <input class="form-control" type="text" data-bind="value: registerPhoneNumber"/>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" data-bind="value: registerPassword"/>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input class="form-control" type="password" data-bind="value: registerPassword2" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Register</button>
      </div>
    </form>
  </div>

    <div class="col-sm-4">
        <h3>Log In</h3>
        <form data-bind="submit: login">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" data-bind="value: loginEmail"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" data-bind="value: loginPassword"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log In</button>
                <button data-bind="click: logout" class="btn btn-default">Log Out</button>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <div>
            <h2>Search by ID</h2>
            <input type="text" id="visitId" size="5" />
            <input type="button" value="Search" onclick="find();" />
            <p id="visit" />
        </div>
    </div>

        <div class="col-md-4">
            <h2>Add visit</h2>
            CheckInDate1:<br>
            <input type="date" name="CheckInDate1" id="CheckInDate1">
            <br>
            CheckOutDate1:<br>
            <input type="date" name="CheckOutDate1" id="CheckOutDate1">
            <br>
            Visit description:<br>
            <input type="text" name="Description1" id="Description1">
            <br />
            TimeZoneInfo1 :<br>
            <input type="text" name="TimeZoneInfo1" id="TimeZoneInfo1">
            <br>
            <input type="submit" value="Add" onclick="addVisit();">
        </div>

        <div class="col-md-4">
            <h2>Update visit</h2>
            Visit Id: <br>
            <input type="text" id="id" size="5" /> <br>
            Visit date:<br>
            <input type="date" id="VisitDate">
            <br>
            Visit description:<br>
            <input type="text" id="Description">
            <input type="submit" value="Update" onclick="Update();">
        </div>

        <div class="col-md-4">
            <h2>Delete visit</h2>
            <input type="text" id="visitId1" size="5" />
            <input type="button" value="Search" onclick="deleteVisit();" />
        </div>

        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script>
        var uri = 'http://tarakserver.azurewebsites.net/api/v1/visits';

        $(document).ready(function() {
            // Send an AJAX request
            $.getJSON(uri)
                .done(function(data) {
                    // On success, 'data' contains a list of visitss.

                    var list = $("#visitsList");

                    for (i in data) {
                        var html = data[i].Description;
                        list.append("<li>" + html + "</li>");
                    }
                });
        });

        function formatItem(item) {
            return item.Name + ': $' + item.Price;
        }

        function find() {
            var id = $('#visitId').val();
            $.getJSON(uri + '/' + id)
                .done(function(data) {
                    $('#visit').text(data.Description);
                })
                .fail(function(jqXHR, textStatus, err) {
                    $('#visit').text('Error: ' + err);
                });
        }

        function deleteVisit() {
            var id = $('#visitId1').val();
            var visit = new Object();
            var uriDelete = uri + '/' + id;
            $.ajax({
                url: uriDelete,
                type: 'DELETE',
                dataType: 'json',
                data: visit,
                success: function(data, textStatus, xhr) {
                    alert("CustomerID: " + data.id);
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("An error occurred!!" + errorThrown);
                }
            });

        }

        function addVisit() {
            var uriAdd = uri;
            var model = JSON.stringify({
                'Id': 0,
                'CheckInDate': $('#CheckInDate1').val(),
                'CheckOutDate': $('#CheckOutDate1').val(),
                'TimeZoneInfo': $('#TimeZoneInfo1').val(),
                'Description': $('#Description1').val()
            });

            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: "/api/v1/Visits",
                data: model,
                success: function (data) {
                    alert('success');
                },
                error: function (err) {
                    alert('An error has occurred while saving the new part source: ' + err);
                }
            });

        }


        function Update() {
            var id = $('#id').val();
            var uriUpdate = uri + '/' + id;

            var dataToSend = {
                Id : id,
                VisitDate :  $('#VisitDate').val(),
                Description: $('#Description').val()
            };

            //Call jQuery ajax
            $.ajax({
                type: "PUT",
                contentType: "application/json; charset=utf-8",
                url: uriUpdate,
                data: JSON.stringify(dataToSend),
                dataType: "html or json",
                success: function (msg) {
                    alert('Success');
                },
                error: function (err) {
                    alert('Error');
                }
            });
        }


        </script>

    </div>